.App {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 600px;
    justify-content: center;
    align-items: center;
}

.song-input {
    display: flex;
    flex-direction: column;
    padding: 32px;
    font-size: 1.2rem;
}

.song-input label {
    padding: 16px;
}

.song-input input {
    padding: 8px;
}
